<h3>Por Pais</h3>
<hr>

<!-- Formulario -->
<div class="row">
    <div class="col">
        <form  autocapitalize="off"
                (ngSubmit) = "buscar($event)">
            <input type="text"
                    name="termino"
                    class="form-control"
                    placeholder="Buscar pais ..."
                    [(ngModel)] = "terminoBusqueda"
                    >
        </form>
    </div>
</div>


<!-- Mensajes de aleta -->
<hr>
<div *ngIf="errorRespuesta" class="alert alert-danger" role="alert">
  No se encontro nada con el termino "{{terminoBusqueda}}"
  <p></p>
  <p class="mb-0"></p>
</div>


<!-- Tabla -->
<div *ngIf="!errorRespuesta"  class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Bandera</th>
                    <th>Poblacion</th>
                    <th>Enlace</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of lista_paises; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{pais.name.common}}</td>
                    <td>{{pais.flag}}</td>
                    <td>{{pais.population}}</td>
                    <td><a [routerLink]="['/pais',pais.cca2]" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >{{pais.name.official}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>