<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Bandera</th>
            <th>Poblacion</th>
            <th>Enlace</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of lista_paises; let i = index;">
            <td>{{i+1}}</td>
            <td>{{pais.name.common}} - {{pais.capital}}</td>
            <td>{{pais.flag}}</td>
            <td>{{pais.population}}</td>
            <td><a [routerLink]="['/pais',pais.cca2]" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >{{pais.name.official}}</a></td>
        </tr>
    </tbody>
</table>
